---
layout: empty.hbs
title: 试题详情
keywords: 试题详情
description: 试题详情
stylesheet: anaylsis
script: anaylsisDetail
---
<style>
    body {
        padding: 0;
    }
</style>
<section class="anaylsis">
    <div class="inner">
        <section class="test">
            <div class="multiple hidden">
                <h3>题目 exercise1</h3>
                <div class="question">
                    Time goes by so fast, <span class="translate">people</span> go in and out of your life. You must
                    never miss the opportunity to tell
                    these people how much they mean to you.Time goes by so fast, people go in and out of your life. You
                    must never miss the opportunity to tell these people how much they mean to you.Time goes by so fast,
                    people <span class="translate">go</span> in and out of your life. You must never miss the
                    opportunity to tell these people how much
                    they mean to you.
                </div>
                <h3>答题</h3>
                <div class="options">
                    <table cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <th>BlankI</th>
                        </tr>
                        <tr>
                            <td class="user_answer">A:misconstrued</td>
                        </tr>
                        <tr>
                            <td class="answer">A:misconstrued</td>
                        </tr>
                        <tr>
                            <td>A:misconstrued</td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>BlankI</th>
                        </tr>
                        <tr>
                            <td class="user_answer">A:misconstrued</td>
                        </tr>
                        <tr>
                            <td class="answer">A:misconstrued</td>
                        </tr>
                        <tr>
                            <td>A:misconstrued</td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>BlankI</th>
                        </tr>
                        <tr>
                            <td class="user_answer">A:misconstrued</td>
                        </tr>
                        <tr>
                            <td class="answer">A:misconstrued</td>
                        </tr>
                        <tr>
                            <td>A:misconstrued</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="radio clearfix ">
                <div class="radio-left">
                    <h3>题目 exercise1</h3>
                    <div class="question">
                        Time goes by so fast, <span class="translate">people</span> go in and out of your life. You must
                        never miss the opportunity to
                        tell
                        these people how much they mean to you.Time goes by so fast, people go in and out of your life.
                        You
                        must never miss the opportunity to tell these people how much they mean to you.Time goes by so
                        fast,
                        people go in and out of your life. You must never miss the opportunity to tell these people how
                        much
                        they mean to you.
                        Time goes by so fast, people go in and out of your life. You must never miss the opportunity to
                        tell
                        these people how much they mean to you.Time goes by so fast, people go in and out of your life.
                        You
                        must never miss the opportunity to tell these people how much they mean to you.Time goes by so
                        fast,
                        people go in and out of your life. You must never miss the opportunity to tell these people how
                        much
                        they mean to you.Time goes by so fast, people go in and out of your life. You must never miss
                        the
                        opportunity to tell these people how much they mean to you.Time goes by so fast, people go in
                        and
                        out of your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                        to
                        tell these people how much they mean to you.
                    </div>
                </div>
                <div class="radio-right">
                    <h3>答题</h3>
                    <div class="options">
                        <p>Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                            to tell</p>
                        <ul>
                            <!--默认样式-->
                            <li><i class="icon-circle"></i><span><b>A</b>Time </span></li>
                            <!--正确答案-->
                            <li><i class="icon-correct"></i><b>A</b><span>transformsers</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="user">
            <div class="userleft">
                <span>我的答案是:</span>
                <b>AAA</b>
                <span>正确答案是:</span>
                <b>BBB</b>
            </div>
            <div class="userright">
                <span>音频</span>
                <i class="icon-mp3-play"></i>
                <div class="progress">
                    <div class="rate"></div>
                </div>
                <i class="icon-volume"></i>
                <!--<audio src="./费玉清%20-%20一剪梅.mp3" class="audio"></audio>-->
            </div>
        </div>
        <div class="mark">
            <h3>我的笔记</h3>
            <div class="mymark">
                从第一句话：“Until recently astronomers have been puzzled by the fate of red giant and supergiant
                stars."可以知道其实
            </div>
        </div>
    </div>
    <footer>
        <div>
            最近答题时间：
            <span>10`11`</span>
        </div>
        <div>
            答题次数：
            <span>1次</span>
        </div>
        <!--<div>-->
        <!--最近答题时间：-->
        <!--<span>10`11`</span>-->
        <!--</div>-->
    </footer>
</section>
<section class="discuss">
    <div class="left">
        <a href="javascript:;" name="aa"></a>
        <header>
            <div class="active">题目讨论（12）</div>
            <div class="">最佳解析</div>
        </header>
        <footer>
            <!--题目讨论-->
            <div class="content ">
                <!--<div class="order">-->
                <!--<span class="item">默认顺序</span>-->
                <!--<i class="icon-butn-down"></i>-->
                <!--</div>-->
                <div class="advice">
                    <ul>
                        <li data-comment-id="12">
                            <div class="headimg">
                                <img src="http://placehold.it/90x90" alt="">
                            </div>
                            <div class="main">
                                <h3 class="author">Robber</h3>
                                <div class="speech">
                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                    the opportunity to
                                </div>
                                <div class="foot">
                                    <div class="feature">
                                        <span><i class="icon-video-zan"></i>赞同（<b>2</b>）</span>
                                        <!--<span><i class="icon-video-message"></i>评论（2）</span>-->
                                        <!--<span><i class="icon-video-share"></i>分享（2）</span>-->
                                    </div>
                                    <div class="time">2017-12-26 12:12</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="headimg">
                                <img src="http://placehold.it/90x90" alt="">
                            </div>
                            <div class="main">
                                <h3 class="author">Robber</h3>
                                <div class="speech">
                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                    the opportunity to
                                </div>
                                <div class="foot">
                                    <div class="feature">
                                        <span><i class="icon-video-zan"></i>赞同（2）</span>
                                        <!--<span><i class="icon-video-message"></i>评论（2）</span>-->
                                        <!--<span><i class="icon-video-share"></i>分享（2）</span>-->
                                    </div>
                                    <div class="time">2017-12-26 12:12</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="headimg">
                                <img src="http://placehold.it/90x90" alt="">
                            </div>
                            <div class="main">
                                <h3 class="author">Robber</h3>
                                <div class="speech">
                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                    the opportunity to
                                </div>
                                <div class="foot">
                                    <div class="feature">
                                        <span><i class="icon-video-zan"></i>赞同（2）</span>
                                        <!--<span><i class="icon-video-message"></i>评论（2）</span>-->
                                        <!--<span><i class="icon-video-share"></i>分享（2）</span>-->
                                    </div>
                                    <div class="time">2017-12-26 12:12</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--{{> page-navgator}}-->
                </div>
                <div class="post">
                    <textarea placeholder=请输入内容></textarea>
                    <p>发表评论</p>
                </div>
            </div>
            <!--最简解析-->
            <div class="content keyanswer hidden">
                <div class="p"></div>
                <footer>
                    <div class="peo">
                        <span>解析编译者</span>
                        <div class="headimg">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <h5>维夕上校</h5>
                    </div>
                    <span class="time">解析时间：2018-01-31</span>
                </footer>
            </div>
        </footer>

    </div>
    <div class="right">
        <div class="top">
            <h3>答题报告</h3>
            <ul>
                <li>
                    <span>A</span>
                    <div class="progress">
                        <div class="rate"></div>
                    </div>
                    <span>55%</span>
                </li>
                <li>
                    <span>A</span>
                    <div class="progress">
                        <div class="rate"></div>
                    </div>
                    <span>55%</span>
                </li>
                <li>
                    <span>A</span>
                    <div class="progress">
                        <div class="rate"></div>
                    </div>
                    <span>55%</span>
                </li>
                <li>
                    <span>A</span>
                    <div class="progress">
                        <div class="rate"></div>
                    </div>
                    <span>55%</span>
                </li>
                <li>
                    <span>A</span>
                    <div class="progress">
                        <div class="rate"></div>
                    </div>
                    <span>55%</span>
                </li>
                <li>
                    <span>A</span>
                    <div class="progress">
                        <div class="rate"></div>
                    </div>
                    <span>55%</span>
                </li>
            </ul>
            <div class="answer">
                <span>正确答案：A</span>
            </div>
        </div>
        <div class="bot">
            <img src="http://placeimg.com/520/540" alt="">
            <!--<h3>高分经验</h3>-->
            <!--<ul>-->
            <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
            <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
            <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
            <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
            <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
            <!--</ul>-->
            <!--<div class="more">-->
            <!--more&gt;-->
            <!--</div>-->
        </div>
    </div>
</section>
