---
layout: default.hbs
title: 精品课，公开课
keywords: 精品课，公开课
description: 精品课，公开课
stylesheet: course
script: course
big_header: 1
---
{{> slide-banner}}
<div class="page-course-index">
    <div class="page-inner">
        <div class="card-tab">
            <div class="tab-list">
                <a href="javascript:;" class="tab-item active">精品课</a>
                <span class="line"></span>
                <a href="javascript:;" class="tab-item ">公开课</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card-tab-cont boutique">
            <ul class="course-card">
                <li class="course-item">
                    <div class="box">
                        <img src="http://placeimg.com/1200/560" alt="">
                        <div class="info">
                            <div class="title">课程名称</div>
                            <ul class="list clearfix">
                                <li class="item">
                                    <span class="num">81</span>
                                    <span class="txt">课程时长</span>
                                </li>
                                <li class="item">
                                    <span class="num">60</span>
                                    <span class="txt">有效天数</span>
                                </li>
                                <li class="item">
                                    <span class="num">12</span>
                                    <span class="txt">剩余名额</span>
                                </li>
                            </ul>
                            <p class="desc">课程简介：如GRE325冲刺班， 适合短期内冲刺考试的学生，帮助提高分数</p>
                            <a href="#" class="btn-go">试听/报名</a>
                        </div>
                        <img class="fliter" src="./static/imgs/course-left.png">
                    </div>
                </li>
                <li class="course-item">
                    <div class="box">
                        <img src="http://placeimg.com/1200/560" alt="">
                        <div class="info">
                            <div class="title">课程名称</div>
                            <ul class="list clearfix">
                                <li class="item">
                                    <span class="num">81</span>
                                    <span class="txt">课程时长</span>
                                </li>
                                <li class="item">
                                    <span class="num">60</span>
                                    <span class="txt">有效天数</span>
                                </li>
                                <li class="item">
                                    <span class="num">12</span>
                                    <span class="txt">剩余名额</span>
                                </li>
                            </ul>
                            <p class="desc">课程简介：如GRE325冲刺班， 适合短期内冲刺考试的学生，帮助提高分数</p>
                            <a href="#" class="btn-go">试听/报名</a>
                        </div>
                        <img class="fliter" src="./static/imgs/course-left.png">
                    </div>
                </li>
                <li class="course-item">
                    <div class="box">
                        <img src="http://placeimg.com/1200/560" alt="">
                        <div class="info">
                            <div class="title">课程名称</div>
                            <ul class="list clearfix">
                                <li class="item">
                                    <span class="num">81</span>
                                    <span class="txt">课程时长</span>
                                </li>
                                <li class="item">
                                    <span class="num">60</span>
                                    <span class="txt">有效天数</span>
                                </li>
                                <li class="item">
                                    <span class="num">12</span>
                                    <span class="txt">剩余名额</span>
                                </li>
                            </ul>
                            <p class="desc">课程简介：如GRE325冲刺班， 适合短期内冲刺考试的学生，帮助提高分数</p>
                            <a href="#" class="btn-go">试听/报名</a>
                        </div>
                        <img class="fliter" src="./static/imgs/course-left.png">
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-tab-cont page-inner hidden">
            <div class="cont-item">
                <div class="test-title">GRE</div>
                <ul class="test-card clearfix">
                    <li class="test-item test-item-big">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/760x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cont-item">
                <div class="test-title">GRE</div>
                <ul class="test-card clearfix">
                    <li class="test-item test-item-big">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/760x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                    <li class="test-item">
                        <div class="box">
                            <a href="#" class="img">
                                <img src="http://placehold.it/360x220" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="col clearfix">
                                <div class="name">
                                    <a href="#">GRE速成练习班</a>
                                </div>
                                <span class="price">￥ 299</span>
                            </div>
                            <div class="col clearfix">
                                <span class="txt">剩余名额</span>
                                <span class="num">3人</span>
                                <span class="right">已有134人报名</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>