---
layout: default.hbs
title: 作文习题练习
keywords: 作文习题练习
description: 作文习题练习
stylesheet: test
script: essayPractice
big_header: 1
---

<div class="page-test-list">
    <div class="page-inner">
        {{>bread-crumbs}}
        <div class="do-or-see">
            <a href="" class="do active">做题</a>
            <a href="" class="see">查看</a>
        </div>
        {{>select-types}}

        <div class="page-test-practice">
            <div class="left">
                <h3 class="question-title">
                    GRE写作专题训练-Issue-第001题
                    <div class="btns">
                        <div class="btns-left">
                            <img src="/static/imgs/essay/left.png" alt="">
                        </div>
                        <div class="btns-right">
                            <img src="/static/imgs/essay/right.png" alt="">
                        </div>
                        <div class="btns-return">
                            <img src="/static/imgs/essay/return.png" alt="">
                        </div>
                    </div>
                </h3>
                <section class="essay-content">
                    <p>Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.Time goes by so fast, people go in
                        and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.
                        Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.Time goes by so fast, people go in
                        and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.</p>
                    <p>Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.Time goes by so fast, people go in
                        and out of your life. You must never miss the opportunity</p>
                    <p>Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.Time goes by so fast, people go in
                        and out of your life. You must never miss the opportunity</p>
                    <p>Time goes by so fast, people go in and out of your life. You must never miss the opportunity
                        to tell these people how much they mean to you.Time goes by so fast, people go in and out of
                        your life. You must never miss the opportunity to tell these people how much they mean to
                        you.Time goes by so fast, people go in and out of your life. You must never miss the
                        opportunity to tell these people how much they mean to you.Time goes by so fast, people go in
                        and out of your life. You must never miss the opportunity</p>
                </section>
                <footer>
                    <div>
                        最近答题时间：
                        <span>10`11`</span>
                    </div>
                    <div>
                        答题次数：
                        <span>1次</span>
                    </div>
                    <div>
                    最近答题时间：
                    <span>10`11`</span>
                    </div>
                </footer>
            </div>
            <div class="right">
                <div class="answer-content">
                    <div class="left active">答题区</div>
                    <div class="right">视频区</div>
                </div>
                <div class="do-answer">
                    <div class="do-l">
                        <div class="text-do">
                            <div class="sel answer-options">
                                <input type="button" class="but cut" value="CUT">
                                <input type="button" class="sec but paste" value="PASTE">
                                <input type="button" class="sec but undo" value="UNDO">
                                <input type="button" class="sec but redo" value="REDO">
                                <div class="countDown">
                                    <span>00:00</span>
                                    <i>Hide</i>
                                </div>
                            </div>
                            <textarea placeholder="请选择你的作文题目"></textarea>
                            <div class="count">共<span>0</span>字</div>
                            <div class="sel">
                                <div class="but">提交</div>
                            </div>
                        </div>
                        <div class="did hidden">
                            <p>Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity
                                to tell these people how much they mean to you.Time goes by so fast, people go in and
                                out of
                                your life. You must never miss the opportunity to tell these people how much they mean
                                to
                                you.Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity to tell these people how much they mean to you.Time goes by so fast, people
                                go in and out of your life. You must never miss the opportunity
                                to tell these people how much they mean to you.Time goes by so fast, people go in and
                                out of
                                your life. You must never miss the opportunity to tell these people how much they mean
                                to
                                you.Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity to tell these people how much they mean to you.Time goes by so fast, people
                                go in and out of your life. You must never miss the opportunity
                                to tell these people how much they mean to you.Time goes by so fast, people go in and
                                out of
                                your life. You must never miss the opportunity to tell these people how much they mean
                                to
                                you.Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity to tell these people how much they mean to you.Time goes by so fast, people
                                go in and out of your life. You must never miss the opportunity
                                to tell these people how much they mean to you.Time goes by so fast, people go in and
                                out of
                                your life. You must never miss the opportunity to tell these people how much they mean
                                to
                                you.Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity to tell these people how much they mean to you.Time goes by so fast, people
                                go in and out of your life. You must never miss the opportunity
                                to tell these people how much they mean to you.Time goes by so fast, people go in and
                                out of
                                your life. You must never miss the opportunity to tell these people how much they mean
                                to
                                you.Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity to tell these people how much they mean to you.Time goes by so fast, people
                                go in and out of your life. You must never miss the opportunity
                                to tell these people how much they mean to you.Time goes by so fast, people go in and
                                out of
                                your life. You must never miss the opportunity to tell these people how much they mean
                                to
                                you.Time goes by so fast, people go in and out of your life. You must never miss the
                                opportunity to tell these people how much they mean to you.</p>
                        </div>
                    </div>
                    <div class="do-r"></div>
                </div>
            </div>
        </div>
        <section class="discuss">
            <div class="left">
                <a href="javascript:;" name="aa"></a>
                <header>
                    <div class="active">题目讨论（12）</div>
                    <div class="">最佳解析</div>
                </header>
                <footer>
                    <!--题目讨论-->
                    <div class="content ">
                        <div class="post clearfix">
                            <textarea placeholder=请输入内容></textarea>
                            <p>发表评论</p>
                        </div>
                        <!--<div class="order">-->
                        <!--<span class="item">默认顺序</span>-->
                        <!--<i class="icon-butn-down"></i>-->
                        <!--</div>-->
                        <div class="advice">
                            <ul>
                                <li data-comment-id="12">
                                    <div class="advice-par">
                                        <div class="headimg">
                                            <img src="http://placehold.it/90x90" alt="">
                                        </div>
                                        <div class="main">
                                            <h3 class="author">Robber</h3>
                                            <div class="speech">
                                                ATime goes by so fast, people go in and out of your life. You must never miss
                                                the opportunity to
                                            </div>
                                            <div class="foot">
                                                <div class="feature">
                                                    <span><i class="icon-video-nozan"></i>赞同(<b>2</b>)</span>
                                                    <span><i class="icon-video-message"></i>评论</span>
                                                    <!--<span><i class="icon-video-share"></i>分享（2）</span>-->
                                                </div>
                                                <div class="time">2017-12-26 12:12</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="advice-sub">
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li data-comment-id="12">
                                    <div class="advice-par">
                                        <div class="headimg">
                                            <img src="http://placehold.it/90x90" alt="">
                                        </div>
                                        <div class="main">
                                            <h3 class="author">Robber</h3>
                                            <div class="speech">
                                                ATime goes by so fast, people go in and out of your life. You must never miss
                                                the opportunity to
                                            </div>
                                            <div class="foot">
                                                <div class="feature">
                                                    <span><i class="icon-video-nozan"></i>赞同(<b>2</b>)</span>
                                                    <span><i class="icon-video-message"></i>评论(<b>2</b>)</span>
                                                    <!--<span><i class="icon-video-share"></i>分享（2）</span>-->
                                                </div>
                                                <div class="time">2017-12-26 12:12</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="advice-sub">
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="headimg">
                                                <img src="http://placehold.it/90x90" alt="">
                                            </div>
                                            <div class="main">
                                                <h3 class="author">Robber</h3>
                                                <div class="speech">
                                                    ATime goes by so fast, people go in and out of your life. You must never miss
                                                    the opportunity to
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!--{{> page-navgator}}-->
                        </div>

                    </div>
                    <!--最简解析-->
                    <div class="content keyanswer hidden">
                        <div class="p"></div>
                        <footer>
                            <div class="peo">
                                <span>解析编译者</span>
                                <div class="headimg">
                                    <img src="http://placehold.it/60x60" alt="">
                                </div>
                                <h5>维夕上校</h5>
                            </div>
                            <span class="time">解析时间：2018-01-31</span>
                        </footer>
                    </div>
                </footer>

            </div>
            <div class="right">
                <!--<div class="top">-->
                    <!--<h3>答题报告</h3>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<span>A</span>-->
                            <!--<div class="progress">-->
                                <!--<div class="rate"></div>-->
                            <!--</div>-->
                            <!--<span>55%</span>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<span>A</span>-->
                            <!--<div class="progress">-->
                                <!--<div class="rate"></div>-->
                            <!--</div>-->
                            <!--<span>55%</span>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<span>A</span>-->
                            <!--<div class="progress">-->
                                <!--<div class="rate"></div>-->
                            <!--</div>-->
                            <!--<span>55%</span>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<span>A</span>-->
                            <!--<div class="progress">-->
                                <!--<div class="rate"></div>-->
                            <!--</div>-->
                            <!--<span>55%</span>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<span>A</span>-->
                            <!--<div class="progress">-->
                                <!--<div class="rate"></div>-->
                            <!--</div>-->
                            <!--<span>55%</span>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<span>A</span>-->
                            <!--<div class="progress">-->
                                <!--<div class="rate"></div>-->
                            <!--</div>-->
                            <!--<span>55%</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="answer">-->
                        <!--<span>正确答案：A</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="bot">
                    <img src="http://placeimg.com/520/1040" alt="">
                    <!--<h3>高分经验</h3>-->
                    <!--<ul>-->
                    <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
                    <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
                    <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
                    <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
                    <!--<li>女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！女神2周GRE verbal从145到152详细备考经验贴，给短期备考的你！</li>-->
                    <!--</ul>-->
                    <!--<div class="more">-->
                    <!--more&gt;-->
                    <!--</div>-->
                </div>
            </div>
        </section>
    </div>
</div>
{{> prompt}}