---
layout: default.hbs
title: 作文习题列表页
keywords: 作文习题列表页
description: 作文习题列表页
stylesheet: test
script: essayList
hiido_wid:
big_header: 1
---

<div class="page-test-list">
  <div class="page-inner">
    
    {{>bread-crumbs}}

    <div class="table-test essay-table">
      <div class="table-bd">
        <ul class="test-list">
          <li class="test-item clearfix">
            <div class="row row-1">
              <a href="#" class="title">Exercise 01</a>
            </div>
            <div class="row row-2">
              <div class="btns clearfix">
                <a href="#" class="btn btn-go">老师批改</a>
                <a href="#" class="btn btn-cancle">选题写作</a>
              </div>
            </div>
          </li>
          <li class="test-item clearfix">
            <div class="row row-1">
              <a href="#" class="title">Exercise 01</a>
            </div>
            <div class="row row-2">
              <div class="btns clearfix">
                <a href="#" class="btn btn-go">老师批改</a>
                <a href="#" class="btn btn-cancle">选题写作</a>
              </div>
            </div>
          </li>
          <li class="test-item clearfix">
            <div class="row row-1">
              <a href="#" class="title">Exercise 01</a>
            </div>
            <div class="row row-2">
              <div class="btns clearfix">
                <a href="#" class="btn btn-go">老师批改</a>
                <a href="#" class="btn btn-cancle">选题写作</a>
              </div>
            </div>
          </li>
          <li class="test-item clearfix">
            <div class="row row-1">
              <a href="#" class="title">Exercise 01</a>
            </div>
            <div class="row row-2">
              <div class="btns clearfix">
                <a href="#" class="btn btn-go">老师批改</a>
                <a href="#" class="btn btn-cancle">选题写作</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>