---
layout: default.hbs
title: 模考首页
keywords: 模考首页
description: 模考首页
stylesheet: test
script: header
hiido_wid:
big_header: 1
---

<div class="page-exam-index">
  <div class="page-inner">
      {{>bread-crumbs}}
      {{>select-types}}
      {{>test-card}}
  </div>
</div>