---
layout: default.hbs
title: 刷题记录
keywords: 刷题记录
description: 刷题记录
stylesheet: test
script: exerciseRecord
hiido_wid:
big_header: 1
---

<div class="page-exercise-index">
    <div class="page-inner">

        <div class="user-info-score">
            <div class="user-info">
                <div class="avator">
                    <img src="http://placehold.it/60x60" alt="">
                </div>
                <div class="info">
                    <div class="name">My robber</div>
                    <div class="txt">当前等级：
                        <span>小学</span>
                    </div>
                </div>
            </div>

            <div class="user-score">
                <div class="score-item">
                    <span class="num">18题</span>
                    <span class="txt">今天完成</span>
                </div>
                <div class="score-item">
                    <span class="num">218题</span>
                    <span class="txt">本周完成</span>
                </div>
                <div class="score-item">
                    <span class="num">78题</span>
                    <span class="txt">计划完成</span>
                </div>
            </div>
        </div>

        {{>exercise-types}}

        <div class="table-test">
            <div class="table-hd clearfix">
                <div class="row row-1">
                    <span class="title">教材 | 练习册</span>
                </div>
                <div class="row row-2">
                    <span class="title">已做&nbsp;|&nbsp;总题</span>
                </div>
                <div class="row row-3">
                    <span class="title">总耗时&nbsp;|&nbsp;建议耗时</span>
                </div>
                <div class="row row-4">
                    <span class="title">正确率</span>
                </div>
                <div class="row row-6">
                    <span class="title">做题时间</span>
                </div>
            </div>
            <div class="table-bd clearfix">
                <ul class="test-list">
                    <p class="monthTotal">GRE必考词汇练习</p>
                    <li class="test-item clearfix">
                        <div class="row row-1">
                            <a href="#" class="title">Exercise 01</a>
                        </div>
                        <div class="row row-2">
                            <span class="strong">10</span>&nbsp;|&nbsp;10
                        </div>
                        <div class="row row-3">14m15s&nbsp;|&nbsp;14m15s
                        </div>
                        <div class="row row-4">92%</div>
                        <div class="row row-6">2018-02-12</div>
                        <div class="row row-5">
                            <div class="status done"><i class="icon-done">✔</i></div>
                            <div class="btns">
                                <a href="#" class="btn btn-go" target="_blank">做题</a>
                                <a href="#" class="btn">视频</a>
                                <a href="#" class="btn">解析</a>
                            </div>
                        </div>
                    </li>
                    <li class="test-item clearfix">
                        <div class="row row-1">
                            <a href="#" class="title">Exercise 01</a>
                        </div>
                        <div class="row row-2">
                            <span class="strong">10</span>
                            |
                            10
                        </div>
                        <div class="row row-3">
                            14m15s
                            |
                            14m15s
                        </div>
                        <div class="row row-4">
                            92%
                        </div>
                        <div class="row row-6">2018-02-12</div>
                        <div class="row row-5">
                            <div class="status undone">未完成</div>
                            <div class="btns clearfix">
                                <div class="btn btn-go new-go">
                                    <span>做题</span>
                                    <div class="reorco hidden">
                                        <div class="reorconwrap">
                                            <div class="top">
                                                <h3>提示</h3>
                                                <a href="#" class="reorco_close">×</a>
                                            </div>
                                            <div class="main">
                                                <p>您上次在该试题集测试还没完成，是否继续？</p>
                                            </div>
                                            <div class="bot">
                                                <a href="#" target="_blank" class="btn btn-go">继续上次</a>
                                                <a href="#" target="_blank" class="btn">重新开始</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="btn">视频</a>
                                <a href="#" class="btn">解析</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{> page-navgator}}
    </div>
</div>