---
layout: default.hbs
title: 报名付费
keywords: 报名付费
description: 报名付费
stylesheet: order
script: expressOrder
hiido_wid:
big_header: 1
---

<div class="page-order-express">
  <div class="page-inner">
    
    <ul class="order-progress">
      <li class="item item-1">
        <div class="icon-bg">
          <i class="icon icon-1"></i>
        </div>
        <span class="txt">确认订单信息</span>
        <i class="arrow"></i>
      </li>
      <li class="item item-2">
        <div class="icon-bg">
          <i class="icon icon-2"></i>
        </div>
        <span class="txt">在线支付订单</span>
        <i class="arrow"></i>
      </li>
      <li class="item item-3">
        <div class="icon-bg">
          <i class="icon icon-3"></i>
        </div>
        <span class="txt">成功购买课程</span>
      </li>
    </ul>

    <div class="table-order">
      <div class="table-hd">
        <div class="row row-1">
          购买课程
        </div>
        <div class="row row-2">
          课程名称
        </div>
        <div class="row row-3">
          折扣
        </div>
        <div class="row row-4">
          有效期
        </div>
        <div class="row row-5">
          价格
        </div>
      </div>
      <div class="table-bd">
        <ul class="order-list">
          <li class="order-item">
            <div class="row row-1">
              <img src="http://placehold.it/300x190" alt="">
            </div>
            <div class="row row-2">
              GRE速成班
            </div>
            <div class="row row-3">
              -200
            </div>
            <div class="row row-4">
              60天
            </div>
            <div class="row row-5">
              ￥499
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="order-payment">
      <div class="hd">支付方式</div>
      <div class="bd">
        <ul class="list">
          <li class="item">
            <a href="javascript:;" class="zfb active">
              <span class="inner">
                <i class="icon-payment-zfb"></i>
              </span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;" class="wx">
              <span class="inner">
                <i class="icon-payment-wx"></i>
              </span>
            </a>
          </li>
        </ul>
        <a href="javascript:;" class="btn-go">确定</a>
      </div>

    </div>

  </div>
</div>