---
layout: default.hbs
title: 首页
keywords: 首页
description: 首页
stylesheet: index
script: index
big_header: 1
---
{{> slide-banner}}

<div class="page-inner page-inner-index">
    <div class="col-ts">
        <div class="hd">
            <div class="title">我们的特色</div>
            <p class="txt">维C上校团队的成员来自哥大和宾大、斯坦福等一流名校毕业的专业GRE、托福顶级老师，该团队由维 C上校领衔</p>
        </div>
        <div class="bd">
            <ul class="list">
                <li class="item">
                    <a class="item-block" href="">
                        <div class="icon icon-icon-1">
                            <i class="icon-icon-class"></i>
                        </div>
                        <span class="strong">优质课程</span>
                        <p class="txt">这里有GRE备考的优质课程 助力你在考试中实战获胜</p>
                    </a>
                </li>
                <li class="item">
                    <a class="item-block" href="">
                        <div class="icon icon-icon-2">
                            <i class="icon-icon-test"></i>
                        </div>
                        <span class="strong">仿真模考</span>
                        <p class="txt">这里有GRE备考的优质课程 助力你在考试中实战获胜</p>
                    </a>
                </li>
                <li class="item">
                    <a class="item-block" href="">
                        <div class="icon icon-icon-3">
                            <i class="icon-icon-plan"></i>
                        </div>
                        <span class="strong">备考计划</span>
                        <p class="txt">这里有GRE备考的优质课程 助力你在考试中实战获胜</p>
                    </a>
                </li>
                <li class="item">
                    <a class="item-block" href="">
                        <div class="icon icon-icon-4">
                            <i class="icon-icon-teacher"></i>
                        </div>
                        <span class="strong">名师指导</span>
                        <p class="txt">这里有GRE备考的优质课程 助力你在考试中实战获胜</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col col-gfpc">
        <div class="hd">
            <span class="title">高分排行</span>
            <span class="title2">HIGH SCORE LIST</span>
        </div>
        <div class="bd">
            <a class="lf" href="">
                <img src="http://placeimg.com/1300/590" alt="">
            </a>
            <div class="rank-list">
                <div class="tab">
                    <a href="javascript:;" class="current">月度排行</a>
                    <a href="javascript:;" class="">年度排行</a>
                </div>
                <div class="content">
                    <div class="cont">
                        <ul class="list">
                            <li class="item">
                                <a href="" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <div class="info">
                                    <a class="name" href="">My robber</a>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-1"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-2"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="cont hidden">
                        <ul class="list">
                            <li class="item">
                                <a href="" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <div class="info">
                                    <a class="name" href="">My robber</a>
                                    <p class="txt">
                                        <span>总分：</span>0
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-1"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>0
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-2"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>0
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                            <li class="item">
                                <img src="http://placehold.it/60x60" alt="" class="avator">
                                <div class="info">
                                    <div class="name">My robber</div>
                                    <p class="txt">
                                        <span>总分：</span>110
                                        <span>考试时间：</span>2017年2月18日
                                    </p>
                                </div>
                                <i class="icon icon-pork-3"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="more icon-butn-down" href="javascript:;"></a>
            </div>
        </div>
    </div>

    <div class="col col-msjs">
        <div class="hd">
            <span class="title">名师介绍</span>
            <span class="title2">OUR TEACHERS</span>
        </div>
        <div class="prev">
            <i class="icon-butn-left"></i>
        </div>
        <div class="bd">
            <ul class="list">
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
                <li class="item">
                    <a href="" class="avator">
                        <img src="http://placehold.it/176x176" alt="" class="avator">
                    </a>
                    <a href="" class="name">张老师 教研组长</a>
                    <div class="tag">从教5年</div>
                    <p class="txt">ger高分教师／哈佛毕业／商务英语</p>
                </li>
            </ul>
        </div>
        <div class="next">
            <i class="icon-butn-right"></i>
        </div>
    </div>
</div>

<a class="page-banner-col" href="">
    <img src="http://placeimg.com/1920/600" alt="">
</a>
{{> slide}}
