---
layout: default.hbs
title: 个人中心——我的消息
keywords: 个人中心——我的消息
description: 个人中心——我的消息
stylesheet: myMessage
script: myMessage
hiido_wid:
big_header: 1
---

<div class="page-user">
  <div class="page-user-inner">
    {{> side-nav}}
    <div class="content my-message-block">
      <h3 class="title">我的消息</h3>
      <ul class="message-list">
        <li class="item">
          <a class="avator" href="#">
            <img src="http://placehold.it/65x65" alt="">
          </a>
          <div class="info">
            <div class="hd">
              <a class="name" href="#">My robber</a>
              回复了你的消息
            </div>
            <p class="txt">消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息</p>
          </div>
          <div class="right-info">
            <div class="date-time">2017-10-20 22:10:13</div>
            <a href="#" class="btn-go">查看详情</a>
          </div>
        </li>
        <li class="item">
          <a class="avator" href="#">
            <img src="http://placehold.it/65x65" alt="">
          </a>
          <div class="info">
            <div class="hd">
              <a class="name" href="#">My robber</a>
              回复了你的消息
            </div>
            <p class="txt">消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息</p>
          </div>
          <div class="right-info">
            <div class="date-time">2017-10-20 22:10:13</div>
            <a href="#" class="btn-go">查看详情</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>