---
layout: default.hbs
title: 备考规划
keywords: 备考规划
description: 备考规划
stylesheet: myPlan
script: myPlan
hiido_wid:
big_header: 1
---
{{> prompt}}
<div class="page-plan-index">
    <div class="page-inner">
        <div class="user-info-banner">
            <div class="user-info">
                <div class="avator">
                    <img src="http://placehold.it/60x60" alt="">
                </div>
                <div class="info">
                    <div class="name">My robber</div>
                    <div class="txt">当前等级：
                        <span>小学</span>
                    </div>
                </div>
            </div>

            <div class="day-plan">
                <div class="plan-title">当天计划完成</div>
                <div class="done-circle">
                    <svg width="84" height="84" viewbox="0 0 84 84">
                        <circle cx="42" cy="42" r="32" stroke-width="10" stroke="#ffde00" fill="none"></circle>
                        <circle cx="42" cy="42" r="32" stroke-width="10" stroke="#00e290" fill="none"
                                transform="matrix(0,-1,1,0,0,84)" stroke-dasharray="0 200"></circle>
                    </svg>
                    <span class="inner">0%</span>
                </div>
            </div>

            <div class="day-distance">
                <div class="day-title">距离考试还有</div>
                <div class="day-item">
                    <span class="num" id="lastday">152</span>
                    <span class="txt">DAY</span>
                </div>
                <div class="day-item">
                    <span class="num" id="lasthour">23</span>
                    <span class="txt">HOUR</span>
                </div>
                <div class="day-item">
                    <span class="num" id="lastmin">152</span>
                    <span class="txt">MIN</span>
                </div>
            </div>
            <div class="fr btn hidden">
                设置我的备考信息
            </div>
        </div>
        <div class="timeline">
            <div class="head">
                <div class="left">
                    <span class="month"></span>
                    <span class="addplan">添加日程</span>
                </div>
                <ul class="right">
                    <!--<select>-->
                    <!--<option value="任务">任务</option>-->
                    <!--</select>-->
                    <li class="thistoday showed">今天</li>
                    <li class="thismon">本月</li>
                </ul>
            </div>
            <div class="calendar">
                <ul class="week">
                    <li>MON</li>
                    <li>TUE</li>
                    <li>WED</li>
                    <li>THR</li>
                    <li>FRI</li>
                    <li>SAT</li>
                    <li>SUN</li>
                </ul>
                <div class="day">
                    <div class="prev"><i class="icon-left"></i></div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="next"><i class="icon-right"></i></div>
                </div>
            </div>
        </div>
        <div class="recite"></div>
        <div class="program"></div>
        <div class="detailplan"></div>
        <div class="plan-col">
            <div class="col-lf">
                <div class="plan-summary">
                    <div class="hd">
                        <div class="title">
                            <i class="line"></i>
                            <span>2018年8月</span> (月度做题学习总结)
                        </div>
                        <div class="tools">
                            <!--<a href="javascript:;" class="btn-share">-->
                            <!--<i class="icon-share"></i>-->
                            <!--分享-->
                            <!--</a>-->
                            <div class="switch">
                                <a href="javascript:;" class="btn-prev">上一月</a>
                                <i class="line"></i>
                                <a href="javascript:;" class="btn-next">下一月</a>
                            </div>
                        </div>
                    </div>
                    <div class="bd">
                        <div class="lf">
                            <div class="lf-hd">
                                <div class="row row-1">科目</div>
                                <div class="row row-2">完成/总任务</div>
                            </div>
                            <ul class="lf-bd">
                                <li class="done-progress">
                                    <span class="txt">词汇</span>
                                    <span class="done-range">
                                        <span class="cur" style="width: 0%;"></span>
                                    </span>
                                    <span class="num">0/0</span>
                                </li>
                                <li class="done-progress">
                                    <span class="txt">填空</span>
                                    <span class="done-range">
                                        <span class="cur" style="width: 0%;"></span>
                                    </span>
                                    <span class="num">0/0</span>
                                </li>
                                <li class="done-progress">
                                    <span class="txt">阅读</span>
                                    <span class="done-range">
                                        <span class="cur" style="width: 0%;"></span>
                                    </span>
                                    <span class="num">0/0</span>
                                </li>
                                <li class="done-progress">
                                    <span class="txt">数学</span>
                                    <span class="done-range">
                                        <span class="cur" style="width: 0%;"></span>
                                    </span>
                                    <span class="num">0/0</span>
                                </li>
                                <li class="done-progress">
                                    <span class="txt">作文</span>
                                    <span class="done-range">
                                        <span class="cur" style="width: 0%;"></span>
                                    </span>
                                    <span class="num">0/0</span>
                                </li>
                            </ul>
                        </div>
                        <div class="rg">
                            <div class="rg-hd">总完成度</div>
                            <div class="done-circle">
                                <svg width="160" height="160" viewbox="0 0 160 160">
                                    <circle cx="80" cy="80" r="64" stroke-width="16" stroke="#ffde00"
                                            fill="none"></circle>
                                    <circle cx="80" cy="80" r="64" stroke-width="16" stroke="#00e290" fill="none"
                                            transform="matrix(0,-1,1,0,0,160)" stroke-dasharray="0 400"
                                            class="rg-precent"></circle>
                                </svg>
                                <span class="inner">0%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="ad" href="#">
                    <img src="http://placeimg.com/810/335" alt="">
                </a>
            </div>

            <div class="col-rg">
                <div class="done-rank">
                    <div class="hd">
                        <div class="title">
                            <i class="line"></i>
                            做题排行榜
                        </div>
                        <!--<div class="tools">-->
                        <!--<div class="switch">-->
                        <!--<a href="javascript:;" class="btn-prev">今日</a>-->
                        <!--<i class="line"></i>-->
                        <!--<a href="javascript:;" class="btn-next">历史</a>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="bd">
                        <ul class="list">
                            <li class="item first-item">
                                <span class="no">13</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <a class="name" href="">My robber</a>
                                <span class="num">200</span>
                            </li>
                            <li class="item second-item">
                                <span class="no">1</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <i class="icon icon-pork-1"></i>
                                <a class="name" href="">My robber</a>
                                <span class="num">2</span>
                            </li>
                            <li class="item third-item">
                                <span class="no">2</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <i class="icon icon-pork-2"></i>
                                <a class="name" href="">My robber</a>
                                <span class="num">2</span>
                            </li>
                            <li class="item">
                                <span class="no">3</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <i class="icon icon-pork-3"></i>
                                <a class="name" href="">My robber</a>
                                <span class="num">2</span>
                            </li>
                            <li class="item">
                                <span class="no">4</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <a class="name" href="">My robber</a>
                                <span class="num">2</span>
                            </li>
                            <li class="item">
                                <span class="no">5</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <a class="name" href="">My robber</a>
                                <span class="num">2</span>
                            </li>
                            <li class="item">
                                <span class="no">6</span>
                                <a href="#" class="avator">
                                    <img src="http://placehold.it/60x60" alt="">
                                </a>
                                <a class="name" href="">My robber</a>
                                <span class="num">2</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scheduleBox">
    <div class="schedule">
        <div class="top">
            <h3>计划考试时间</h3>
            <a class="schedule_close">×</a>
        </div>
        <div class="main">
            <span>你可以重新设置你的考试时间</span>
            <div class="form">
                <select name="" id="year"></select>
                <select name="" id="month"></select>
                <select name="" id="day"></select>
                <input type="hidden" name="exam_date" value="2018-3-25">
            </div>
        </div>
        <div class="bot">完成</div>
    </div>
</div>
<div class="month_scheduleBox">
    <div class="month_schedule">
        <div class="top">
            <div class="year-month">
                <div class="mprev"><i class="icon-left"></i></div>
                <span>2017年8月</span>
                <div class="mnext"><i class="icon-right"></i></div>
            </div>
            <div class="monthclose">
                <li class="thistoday showed">今天</li>
                <li class="thisweek">本周</li>
            </div>
        </div>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>
            <tr>
                <td id="monthfirst"><b>1</b></td>
                <td><b>2</b></td>
                <td><b>3</b></td>
                <td><b>4</b></td>
                <td><b>5</b></td>
                <td><b>6</b></td>
                <td><b>7</b></td>
            </tr>
            <tr>
                <td><b>1</b></td>
                <td><b>2</b></td>
                <td><b>3</b></td>
                <td><b>4</b></td>
                <td><b>5</b></td>
                <td><b>6</b></td>
                <td><b>7</b></td>
            </tr>
            <tr>
                <td><b>1</b></td>
                <td><b>2</b></td>
                <td><b>3</b></td>
                <td><b>4</b></td>
                <td><b>5</b></td>
                <td><b>6</b></td>
                <td><b>7</b></td>
            </tr>
            <tr>
                <td><b>1</b></td>
                <td><b>2</b></td>
                <td><b>3</b></td>
                <td><b>4</b></td>
                <td><b>5</b></td>
                <td><b>6</b></td>
                <td><b>7</b></td>
            </tr>
            <tr>
                <td><b>1</b></td>
                <td><b>2</b></td>
                <td><b>3</b></td>
                <td><b>4</b></td>
                <td><b>5</b></td>
                <td><b>6</b></td>
                <td><b>7</b></td>
            </tr>
            <tr>
                <td><b>1</b></td>
                <td><b>2</b></td>
                <td><b>3</b></td>
                <td><b>4</b></td>
                <td><b>5</b></td>
                <td><b>6</b></td>
                <td id="monthlast"><b>7</b></td>
            </tr>
        </table>
    </div>
</div>
<div class="todoBox">
    <div class="todo">
        <div class="top">
            <h3>请添加你的日程安排</h3>
            <a class="todo_close">×</a>
        </div>
        <div class="main">
            <input type="text" class="title" placeholder="请添加标题" name="todoTitle">
            <textarea name="todoContent" placeholder="请添加日程的详细内容,限100字" maxlength="100"></textarea>
        </div>
        <div class="bot">提交</div>
    </div>
</div>
<div class="reorco hidden">
    <div class="reorconwrap">
        <div class="top">
            <h3>提示</h3>
            <a href="javaScript:;" class="reorco_close">×</a>
        </div>
        <div class="main">
            <p>您上次在该试题集测试还没完成，是否继续？</p>
        </div>
        <div class="bot">
            <a href="#" target="_blank" class="btn btn-go">继续上次</a>
            <a href=# target="_blank" class="btn btn-re">重新开始</a>
        </div>
    </div>
</div>
{{> apply}}