---
layout: default.hbs
title: 报名付费-在线支付
keywords: 报名付费-在线支付
description: 报名付费-在线支付
stylesheet: order
script: payOrder
hiido_wid:
big_header: 1
---

<div class="page-order-express">
  <div class="page-inner">
    
    <div class="pay-plat">
      <i class="icon-payment-zfb"></i>
      <div class="title">我的收银平台</div>
    </div>

    <div class="pay-info">
      <div class="lf">
        <p class="txt">正在使用即时到账交易</p>
        <p class="info">
          <span class="name">维汐教育GRE 330VIP班</span>
          <span class="buyer">收款方：*罗红</span>
        </p>
      </div>
      <div class="rg">
        <div class="price">
          <span class="num">7980.00</span>元
        </div>
        <a href="#" class="link">订单详情 &gt;</a>
      </div>
    </div>

    <div class="pay-doing">
      <div class="pay-code">
        <span class="txt">扫一扫付款(元）</span>
        <span class="num">7980.00</span>
        <div class="code">
          <img src="http://placehold.it/200x200" alt="">
          <div class="tips">
            <i class="icon-scan"></i>
            <p class="txt">打开手机支付宝<br>扫一扫继续付款</p>
          </div>
        </div>
      </div>
      <div class="login-pay">
        <div class="icon-diannao">
          <i class="icon-payment-zfb-s"></i>
        </div>
        <a href="#" class="btn-login">登录账户付款</a>
      </div>
    </div>

  </div>
</div>