---
layout: default.hbs
title: 搜索结果
keywords: 搜索结果
description: 搜索结果
stylesheet: searchResult
script: searchResult
hiido_wid:
big_header: 1
---

<div class="page-search-result">
  <div class="page-inner">
    <div class="search-box">
      <div class="hd">
        <div class="title">
          <i class="line"></i>
          维夕题库检索：XXXXX（介绍题库）
        </div>
      </div>
      <div class="bd">
        <div class="search-input">
          <input type="text" placeholder="PRO">
        </div>
        <a class="btn-search" href="javascript:;">搜索</a>
      </div>
    </div>
    <div class="result-box">
      <div class="hd">搜索结果 共5条</div>
      <div class="bd">
        <ul class="list">
          <li class="item">
            <a href="#" class="link">
              <span class="title">[逻辑机经Exercise30]</span>
              <div class="txt">
                <p>1.Housing construction materials give off distinctive sounds when exposed to high temperatures.</p>
                <p>Acoustic sensors accurately detect such sounds and fire alarms incorporating acoustic sensors can</p>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="#" class="link">
              <span class="title">[逻辑机经Exercise30]</span>
              <div class="txt">
                <p>1.Housing construction materials give off distinctive sounds when exposed to high temperatures.</p>
                <p>Acoustic sensors accurately detect such sounds and fire alarms incorporating acoustic sensors can</p>
              </div>
            </a>
          </li>
        </ul>
          {{> page-navgator}}
      </div>
    </div>
  </div>
</div>