---
layout: default.hbs
title: 题库首页
keywords: 题库首页
description: 题库首页
stylesheet: test
script: testIndex
hiido_wid:
big_header: 1
---

<div class="page-test-index">
    <div class="page-inner">
        {{>bread-crumbs}}
        {{>select-types}}
        {{>test-card}}
    </div>
</div>