---
layout: default.hbs
title: 个人中心——首页
keywords: 个人中心——首页
description: 个人中心——首页
stylesheet: userCenter
script: userCenter
hiido_wid:
big_header: 1
---

<div class="page-user">
    <div class="page-user-inner">
        {{> side-nav}}
        <div class="content user-center-block">
            <div class="user-info">
                <div class="avator">
                    <img src="http://placehold.it/60x60" alt="">
                </div>
                <div class="info">
                    <div class="name">My robber</div>
                    <div class="txt">当前等级：<span>小学</span></div>
                </div>
                <div class="contact">
                    <a href="">联系我的督导</a>
                </div>
            </div>

            <div class="user-panel">
                <div class="panel-left">
                    <div class="title">我的刷新纪录</div>
                    <div class="list">
                        <div class="item">
                            今天完成
                            <div class="txt">
                                <span class="num">28</span>
                                题
                            </div>
                        </div>
                        <div class="item">
                            本周完成
                            <div class="txt">
                                <span class="num">238</span>
                                题
                            </div>
                        </div>
                        <div class="item">
                            计划完成
                            <div class="txt">
                                <span class="num strong">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <a href="" class="btn-go">查看详情</a>
                    </div>
                </div>

                <div class="panel-right">
                    <a href="" class="panel-link">
                        <i class="icon icon-icon-1"></i>
                        <span class="txt">学习课堂</span>
                    </a>
                    <a href="" class="panel-link">
                        <i class="icon icon-icon-2"></i>
                        <span class="txt">我的消息</span>
                    </a>
                    <a href="" class="panel-link">
                        <i class="icon icon-icon-3"></i>
                        <span class="txt">账号设置</span>
                    </a>
                    <a href="" class="panel-link">
                        <i class="icon icon-icon-4"></i>
                        <span class="txt">账号安全</span>
                    </a>
                </div>
            </div>

            <div class="user-record">
                <a href="" class="record-link">
                    <span class="num">29题</span>
                    <span class="txt">本周错题</span>
                </a>
                <a href="" class="record-link">
                    <span class="num">18题</span>
                    <span class="txt">我的收藏</span>
                </a>
                <a href="" class="record-link">
                    <span class="num">7道</span>
                    <span class="txt">我的笔记</span>
                </a>
                <a href="" class="record-link">
                    <span class="num">180词</span>
                    <span class="txt">我的生词本</span>
                </a>
                <a href="" class="record-link">
                    <i class="icon icon-icon-5"></i>
                    <span class="txt">继续上次做题</span>
                </a>
            </div>
        </div>
    </div>
</div>