---
layout: default.hbs
title: 错题本
keywords: 错题本
description: 错题本
stylesheet: wrongTest
script: wrongTest
hiido_wid:
big_header: 1
---
<div class="page-wrongTest">
    <div class="page-inner">
        {{> bread-crumbs}}
        <div class="user-info-banner">
            <div class="user-info">
                <div class="avator">
                    <img src="http://placehold.it/60x60" alt="">
                </div>
                <div class="info">
                    <div class="name">My robber</div>
                    <div class="txt">当前等级：<span>小学</span></div>
                </div>
            </div>
            <div class="toRecord clearfix">
                <div class="wrongTotal">
                    <p>本周错题数：<span>150</span> 道</p>
                    <div class="clearWrong">
                        <span class="clearSet"><i></i></span>
                        <span>答对后自动清除错题</span>
                    </div>
                </div>
                <a href="javascript:;" class="btn">我的刷题记录</a>
            </div>
        </div>
        <div class="pageIndex">
            <nav>
                <span class="fl">选择科目：</span>
                <ul class="wrongList">
                    <li class="active"><a href="">全部</a></li>
                    <li><a href="">词汇</a></li>
                    <li><a href="">填空</a></li>
                    <li><a href="">全部</a></li>
                    <li><a href="">全部</a></li>
                    <li><a href="">全部</a></li>
                    <li><a href="">全部</a></li>
                    <li><a href="">全部</a></li>
                </ul>
            </nav>
            <div class="plan-column whole">
                <div class="column-bd">
                    <div class="item">
                        <div class="situation">
                            <input type="checkbox" name="test" id="form-title" class="allWrong"><span class="row row-1 title">全选</span>
                        </div>
                        <div class="btns">
                            <a href="#" class="btn-go do">做题</a>
                            <a href="#" class="btn-cancle see">查看</a>
                            <a href="#" class="btn-cancle download">下载</a>
                        </div>
                    </div>
                </div>
            </div>
            <section class="wrongItem">
                <div class="plan-column">
                    <div class="situation column-bd clearfix">
                        <span class="row row-1 title">GRE必读词汇练习</span>
                        <span class="row row-2">90</span>
                    </div>
                    <ul class="column-bd">
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="plan-column">
                    <div class="situation column-bd clearfix">
                        <span class="row row-1 title">GRE必读词汇练习</span>
                        <span class="row row-2">90</span>
                    </div>
                    <ul class="column-bd">
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="plan-column">
                    <div class="situation column-bd clearfix">
                        <span class="row row-1 title">GRE必读词汇练习</span>
                        <span class="row row-2">90</span>
                    </div>
                    <ul class="column-bd">
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="situation">
                                <input type="checkbox" name="test" id="form-title" class="wrong">
                                <span class="row row-1">Exercise 01</span>
                                <span class="row row-2">30</span>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn-go do">做题</a>
                                <a href="#" class="btn-cancle see">查看</a>
                                <a href="#" class="btn-cancle video">视频</a>
                                <a href="#" class="btn-cancle download">下载</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
{{> apply}}

