.wx-butn {
  display: block;
  margin-top: 30px;
  width: 360px;
  height: 53px;
  background-color: #00e290;
  border-radius: 2px;
  text-align: center;
  line-height: 53px;
  font-size: 18px;
  color:#fff;
  border: none;
  cursor: pointer;
}