.bread-crumbs {
  padding: 18px 0;
  font-size: 14px;
  color: #666;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a {
    margin: 0 5px;
    color: #666;
    &:hover {
      color: $themeColor;
    }
  }
  span {
    margin: 0 5px;
  }
}