
.icon-class-1 {
  background: url('../imgs/sprite-common.png') no-repeat -287px -82px;
  width: 72px;
  height: 72px;
  display:inline-block;
}
                
.icon-class-2 {
  background: url('../imgs/sprite-common.png') no-repeat 0px -210px;
  width: 72px;
  height: 72px;
  display:inline-block;
}
                
.icon-class-3 {
  background: url('../imgs/sprite-common.png') no-repeat -287px 0px;
  width: 72px;
  height: 72px;
  display:inline-block;
}
                
.icon-class-4 {
  background: url('../imgs/sprite-common.png') no-repeat 0px -128px;
  width: 72px;
  height: 72px;
  display:inline-block;
}
                
.icon-class-5 {
  background: url('../imgs/sprite-common.png') no-repeat -82px -128px;
  width: 72px;
  height: 72px;
  display:inline-block;
}
                
.icon-class-6 {
  background: url('../imgs/sprite-common.png') no-repeat -164px -128px;
  width: 72px;
  height: 72px;
  display:inline-block;
}
                
.icon-code {
  background: url('../imgs/sprite-common.png') no-repeat 0px 0px;
  width: 118px;
  height: 118px;
  display:inline-block;
}
                
.icon-email {
  background: url('../imgs/sprite-common.png') no-repeat -215px -67px;
  width: 16px;
  height: 12px;
  display:inline-block;
}
                
.icon-info {
  background: url('../imgs/sprite-common.png') no-repeat -158px -92px;
  width: 18px;
  height: 18px;
  display:inline-block;
}
                
.icon-left {
  background: url('../imgs/sprite-common.png') no-repeat -266px -128px;
  width: 10px;
  height: 20px;
  display:inline-block;
}
                
.icon-logo {
  background: url('../imgs/sprite-common.png') no-repeat -128px 0px;
  width: 149px;
  height: 57px;
  display:inline-block;
}
                
.icon-nav-bottom {
  background: url('../imgs/sprite-common.png') no-repeat -246px -158px;
  width: 13px;
  height: 7px;
  display:inline-block;
}
                
.icon-nav-top {
  background: url('../imgs/sprite-common.png') no-repeat -241px -67px;
  width: 14px;
  height: 7px;
  display:inline-block;
}
                
.icon-phone1 {
  background: url('../imgs/sprite-common.png') no-repeat -186px -92px;
  width: 18px;
  height: 18px;
  display:inline-block;
}
                
.icon-police {
  background: url('../imgs/sprite-common.png') no-repeat -214px -92px;
  width: 18px;
  height: 16px;
  display:inline-block;
}
                
.icon-right {
  background: url('../imgs/sprite-common.png') no-repeat -246px -128px;
  width: 10px;
  height: 20px;
  display:inline-block;
}
                
.icon-slide-man {
  background: url('../imgs/sprite-common.png') no-repeat -326px -164px;
  width: 25px;
  height: 26px;
  display:inline-block;
}
                
.icon-slide-say {
  background: url('../imgs/sprite-common.png') no-repeat -287px -164px;
  width: 29px;
  height: 26px;
  display:inline-block;
}
                
.icon-slide-top {
  background: url('../imgs/sprite-common.png') no-repeat -128px -67px;
  width: 25px;
  height: 15px;
  display:inline-block;
}
                
.icon-soso {
  background: url('../imgs/sprite-common.png') no-repeat -191px -67px;
  width: 14px;
  height: 14px;
  display:inline-block;
}
                
.icon-user-book {
  background: url('../imgs/sprite-common.png') no-repeat -163px -67px;
  width: 18px;
  height: 15px;
  display:inline-block;
}
                
.icon-user-laba {
  background: url('../imgs/sprite-common.png') no-repeat -242px -92px;
  width: 18px;
  height: 16px;
  display:inline-block;
}
                
.icon-user-settings {
  background: url('../imgs/sprite-common.png') no-repeat -128px -92px;
  width: 20px;
  height: 18px;
  display:inline-block;
}
                