
.icon-gre-help {
  background: url('../imgs/sprite-gre.png') no-repeat 0px -41px;
  width: 18px;
  height: 18px;
  display:inline-block;
}
                
.icon-gre-logo {
  background: url('../imgs/sprite-gre.png') no-repeat 0px 0px;
  width: 123px;
  height: 31px;
  display:inline-block;
}
                
.icon-gre-mark {
  background: url('../imgs/sprite-gre.png') no-repeat -82px -41px;
  width: 16px;
  height: 17px;
  display:inline-block;
}
                
.icon-gre-next {
  background: url('../imgs/sprite-gre.png') no-repeat -24px -69px;
  width: 16px;
  height: 12px;
  display:inline-block;
}
                
.icon-gre-prev {
  background: url('../imgs/sprite-gre.png') no-repeat -50px -69px;
  width: 16px;
  height: 12px;
  display:inline-block;
}
                
.icon-gre-review {
  background: url('../imgs/sprite-gre.png') no-repeat -56px -41px;
  width: 16px;
  height: 18px;
  display:inline-block;
}
                
.icon-gre-save {
  background: url('../imgs/sprite-gre.png') no-repeat -28px -41px;
  width: 18px;
  height: 18px;
  display:inline-block;
}
                
.icon-gre-section {
  background: url('../imgs/sprite-gre.png') no-repeat 0px -69px;
  width: 14px;
  height: 20px;
  display:inline-block;
}
                
.icon-gre-time {
  background: url('../imgs/sprite-gre.png') no-repeat -108px -41px;
  width: 12px;
  height: 12px;
  display:inline-block;
}
                