
.icon-block-bg-1 {
  background: url('../imgs/sprite-course.png') no-repeat -846px 0px;
  width: 780px;
  height: 245px;
  display:inline-block;
}
                
.icon-block-bg-2 {
  background: url('../imgs/sprite-course.png') no-repeat -846px -255px;
  width: 780px;
  height: 245px;
  display:inline-block;
}
                
.icon-circle-bg-1 {
  background: url('../imgs/sprite-course.png') no-repeat 0px -831px;
  width: 308px;
  height: 265px;
  display:inline-block;
}
                
.icon-circle-bg-2 {
  background: url('../imgs/sprite-course.png') no-repeat -318px -831px;
  width: 308px;
  height: 265px;
  display:inline-block;
}
                
.icon-icon-write {
  background: url('../imgs/sprite-course.png') no-repeat -1376px -510px;
  width: 74px;
  height: 74px;
  display:inline-block;
}
                
.icon-module-bg {
  background: url('../imgs/sprite-course.png') no-repeat 0px 0px;
  width: 836px;
  height: 821px;
  display:inline-block;
}
                
.icon-video-bg {
  background: url('../imgs/sprite-course.png') no-repeat -846px -510px;
  width: 520px;
  height: 250px;
  display:inline-block;
}
                