
.icon-diannao {
  background: url('../imgs/sprite-xiaomei.png') no-repeat -212px 0px;
  width: 87px;
  height: 79px;
  display:inline-block;
}
                
.icon-left {
  background: url('../imgs/sprite-xiaomei.png') no-repeat -175px -68px;
  width: 17px;
  height: 32px;
  display:inline-block;
}
                
.icon-ok {
  background: url('../imgs/sprite-xiaomei.png') no-repeat -212px -89px;
  width: 37px;
  height: 37px;
  display:inline-block;
}
                
.icon-saoma {
  background: url('../imgs/sprite-xiaomei.png') no-repeat -259px -89px;
  width: 34px;
  height: 34px;
  display:inline-block;
}
                
.icon-step-1 {
  background: url('../imgs/sprite-xiaomei.png') no-repeat 0px -136px;
  width: 73px;
  height: 73px;
  display:inline-block;
}
                
.icon-step-2 {
  background: url('../imgs/sprite-xiaomei.png') no-repeat -83px -136px;
  width: 73px;
  height: 73px;
  display:inline-block;
}
                
.icon-step-3 {
  background: url('../imgs/sprite-xiaomei.png') no-repeat -166px -136px;
  width: 73px;
  height: 73px;
  display:inline-block;
}
                
.icon-weixin {
  background: url('../imgs/sprite-xiaomei.png') no-repeat 0px 0px;
  width: 202px;
  height: 58px;
  display:inline-block;
}
                
.icon-zhifubao {
  background: url('../imgs/sprite-xiaomei.png') no-repeat 0px -68px;
  width: 165px;
  height: 58px;
  display:inline-block;
}
                