
.icon-1 {
  background: url('../imgs/sprite-pay.png') no-repeat -97px -185px;
  width: 73px;
  height: 73px;
  display:inline-block;
}
                
.icon-2 {
  background: url('../imgs/sprite-pay.png') no-repeat -263px -185px;
  width: 73px;
  height: 73px;
  display:inline-block;
}
                
.icon-2wm {
  background: url('../imgs/sprite-pay.png') no-repeat 0px 0px;
  width: 175px;
  height: 175px;
  display:inline-block;
}
                
.icon-3 {
  background: url('../imgs/sprite-pay.png') no-repeat -180px -185px;
  width: 73px;
  height: 73px;
  display:inline-block;
}
                
.icon-diannao {
  background: url('../imgs/sprite-pay.png') no-repeat 0px -185px;
  width: 87px;
  height: 79px;
  display:inline-block;
}
                
.icon-left {
  background: url('../imgs/sprite-pay.png') no-repeat -360px -68px;
  width: 17px;
  height: 32px;
  display:inline-block;
}
                
.icon-ok {
  background: url('../imgs/sprite-pay.png') no-repeat -346px -185px;
  width: 37px;
  height: 37px;
  display:inline-block;
}
                
.icon-payment-wx {
  background: url('../imgs/sprite-pay.png') no-repeat -185px 0px;
  width: 202px;
  height: 58px;
  display:inline-block;
}
                
.icon-payment-zfb-s {
  background: url('../imgs/sprite-pay.png') no-repeat -185px -136px;
  width: 65px;
  height: 23px;
  display:inline-block;
}
                
.icon-payment-zfb {
  background: url('../imgs/sprite-pay.png') no-repeat -185px -68px;
  width: 165px;
  height: 58px;
  display:inline-block;
}
                
.icon-scan {
  background: url('../imgs/sprite-pay.png') no-repeat -75px -274px;
  width: 34px;
  height: 34px;
  display:inline-block;
}
                
.icon-success {
  background: url('../imgs/sprite-pay.png') no-repeat 0px -274px;
  width: 65px;
  height: 65px;
  display:inline-block;
}
                