
.icon-bind {
  background: url('../imgs/sprite-user.png') no-repeat 0px -98px;
  width: 22px;
  height: 22px;
  display:inline-block;
}
                
.icon-icon-1 {
  background: url('../imgs/sprite-user.png') no-repeat 0px 0px;
  width: 49px;
  height: 37px;
  display:inline-block;
}
                
.icon-icon-2 {
  background: url('../imgs/sprite-user.png') no-repeat -59px 0px;
  width: 42px;
  height: 37px;
  display:inline-block;
}
                
.icon-icon-3 {
  background: url('../imgs/sprite-user.png') no-repeat 0px -47px;
  width: 41px;
  height: 41px;
  display:inline-block;
}
                
.icon-icon-4 {
  background: url('../imgs/sprite-user.png') no-repeat -59px -47px;
  width: 32px;
  height: 40px;
  display:inline-block;
}
                
.icon-icon-5 {
  background: url('../imgs/sprite-user.png') no-repeat -111px 0px;
  width: 34px;
  height: 35px;
  display:inline-block;
}
                
.icon-message {
  background: url('../imgs/sprite-user.png') no-repeat -32px -98px;
  width: 22px;
  height: 21px;
  display:inline-block;
}
                
.icon-safe {
  background: url('../imgs/sprite-user.png') no-repeat -155px 0px;
  width: 21px;
  height: 22px;
  display:inline-block;
}
                
.icon-set {
  background: url('../imgs/sprite-user.png') no-repeat -111px -45px;
  width: 23px;
  height: 23px;
  display:inline-block;
}
                
.icon-study {
  background: url('../imgs/sprite-user.png') no-repeat -155px -32px;
  width: 21px;
  height: 19px;
  display:inline-block;
}
                