
.icon-ic_weibo {
  background: url('../imgs/sprite-login.png') no-repeat -73px -22px;
  width: 63px;
  height: 63px;
  display:inline-block;
}
                
.icon-ic_weixin {
  background: url('../imgs/sprite-login.png') no-repeat -146px -22px;
  width: 63px;
  height: 63px;
  display:inline-block;
}
                
.icon-icon-kuang {
  background: url('../imgs/sprite-login.png') no-repeat -219px -22px;
  width: 16px;
  height: 16px;
  display:inline-block;
}
                
.icon-icon-locked {
  background: url('../imgs/sprite-login.png') no-repeat -269px -22px;
  width: 12px;
  height: 14px;
  display:inline-block;
}
                
.icon-icon-qq {
  background: url('../imgs/sprite-login.png') no-repeat 0px -22px;
  width: 63px;
  height: 63px;
  display:inline-block;
}
                
.icon-icon-user {
  background: url('../imgs/sprite-login.png') no-repeat -245px -22px;
  width: 14px;
  height: 16px;
  display:inline-block;
}
                
.icon-login-phone {
  background: url('../imgs/sprite-login.png') no-repeat -219px -48px;
  width: 10px;
  height: 16px;
  display:inline-block;
}
                
.icon-quick-title {
  background: url('../imgs/sprite-login.png') no-repeat 0px 0px;
  width: 286px;
  height: 12px;
  display:inline-block;
}
                