
.icon-butn-down {
  background: url('../imgs/sprite-analysis.png') no-repeat -28px -102px;
  width: 23px;
  height: 13px;
  display:inline-block;
}
                
.icon-circle {
  background: url('../imgs/sprite-analysis.png') no-repeat -72px -32px;
  width: 22px;
  height: 22px;
  display:inline-block;
}
                
.icon-collection {
  background: url('../imgs/sprite-analysis.png') no-repeat 0px -72px;
  width: 20px;
  height: 20px;
  display:inline-block;
}
                
.icon-collection1 {
  background: url('../imgs/sprite-analysis.png') no-repeat -60px -72px;
  width: 20px;
  height: 20px;
  display:inline-block;
}
                
.icon-correct {
  background: url('../imgs/sprite-analysis.png') no-repeat -72px 0px;
  width: 22px;
  height: 22px;
  display:inline-block;
}
                
.icon-help {
  background: url('../imgs/sprite-analysis.png') no-repeat -104px -30px;
  width: 20px;
  height: 20px;
  display:inline-block;
}
                
.icon-left {
  background: url('../imgs/sprite-analysis.png') no-repeat -134px -81px;
  width: 10px;
  height: 20px;
  display:inline-block;
}
                
.icon-mark {
  background: url('../imgs/sprite-analysis.png') no-repeat -30px -72px;
  width: 20px;
  height: 20px;
  display:inline-block;
}
                
.icon-mp3-parse {
  background: url('../imgs/sprite-analysis.png') no-repeat 0px -36px;
  width: 26px;
  height: 26px;
  display:inline-block;
}
                
.icon-mp3-play {
  background: url('../imgs/sprite-analysis.png') no-repeat 0px 0px;
  width: 26px;
  height: 26px;
  display:inline-block;
}
                
.icon-novolume {
  background: url('../imgs/sprite-analysis.png') no-repeat -36px -36px;
  width: 26px;
  height: 26px;
  display:inline-block;
}
                
.icon-question-location {
  background: url('../imgs/sprite-analysis.png') no-repeat 0px -130px;
  width: 12px;
  height: 15px;
  display:inline-block;
}
                
.icon-right {
  background: url('../imgs/sprite-analysis.png') no-repeat -134px -51px;
  width: 10px;
  height: 20px;
  display:inline-block;
}
                
.icon-video-message {
  background: url('../imgs/sprite-analysis.png') no-repeat -134px -26px;
  width: 16px;
  height: 15px;
  display:inline-block;
}
                
.icon-video-nozan {
  background: url('../imgs/sprite-analysis.png') no-repeat -104px -60px;
  width: 18px;
  height: 18px;
  display:inline-block;
}
                
.icon-video-share {
  background: url('../imgs/sprite-analysis.png') no-repeat -134px 0px;
  width: 16px;
  height: 16px;
  display:inline-block;
}
                
.icon-video-zan {
  background: url('../imgs/sprite-analysis.png') no-repeat 0px -102px;
  width: 18px;
  height: 18px;
  display:inline-block;
}
                
.icon-volume {
  background: url('../imgs/sprite-analysis.png') no-repeat -36px 0px;
  width: 26px;
  height: 26px;
  display:inline-block;
}
                
.icon-wrong {
  background: url('../imgs/sprite-analysis.png') no-repeat -104px 0px;
  width: 20px;
  height: 20px;
  display:inline-block;
}
                