<section class="applyBox">
    <div class="apply">
        <div class="head">
            <h3>提示</h3>
            <p onclick="$('.applyBox').hide()">×</p>
        </div>
        <div class="inner">
            <span>扫描下方的二维码报名即可获取权限</span>
            <img src="/static/imgs/2wm.png" alt="">
        </div>
    </div>
</section>