<div class="bread-crumbs">
    <i class="icon-question-location"></i>
    <span>当前位置：</span>
    <a href="#">题库</a>
    <span>&gt;</span>
    <a href="#">词汇</a>
    <span>&gt;</span>
    <span>GRE必考词汇</span>
</div>