<div class="course-item">
  <a class="img" href="">
    <img src="http://placehold.it/160x110" alt="">
  </a>
  <div class="intro">
    <div class="title">
      <a href="">GRE速成练习班</a>
    </div>
    <div class="desc">
      <p class="txt">主讲老师：维C上校</p>
      <p class="txt">主讲老师：维C上校</p>
    </div>
    <div class="footer">课程价格：<span class="strong">￥ 299</span></div>
  </div>
  <div class="btns">
    <a href="javascript:;" class="btn-pay">支付</a>
    <a href="javascript:;" class="btn-cancle">取消</a>
  </div>
</div>