<div class="dialog-wrapper">
  <div class="dialog-inner">
    <div class="dialog-hd">
      <div class="title">
        <i class="line"></i>
        验证手机号
      </div>
      <a href="javascript:;" class="btn-close">×</a>
    </div>

    <div class="dialog-bd">
      <form action="">
        <div class="form-tips">请输入你收到的6位数验证码</div>
        <div class="form-block no-icon">
          <input type="text" placeholder="手机验证码">
        </div>
        <div class="form-block two">
          <input type="text" placeholder="请输入验证码">
          <img src="http://placeimg.com/153/53" alt="">
        </div>
        <button class="wx-butn">完 成</button>
      </form>
    </div>
  </div>
</div>