
{{#if small_header}}
<div class="page-footer-small">
  © 2013~2016 维夕教育 版权所有 粤ICP备15101646号
</div>
{{/if}}

{{#if big_header}}
    <div class="page-footer">
        <div class="page-footer__inner">
            <div class="page-footer__top">
                <dl>
                    <dt>关于我们</dt>
                    <dd>这里有ger备考的优质课程，助力你在考试 中实战获胜这里有ger备考的优质课程，助 力你在考试中实战获胜。
                    </dd>
                    <dd><a href="/">了解更多 &gt;</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>
                        <a href="mailto:alexhong2009@126.com?subject=反馈建议"><span class="icon-info"></span>反馈建议<img
                                src="static/imgs/advisory.png" alt=""></a>
                    </dd>
                    <dd>
                        <a href="mailto:alexhong2009@126.com?subject=投诉问题"><span class="icon-police"></span>投诉问题<img
                                src="static/imgs/advisory.png" alt=""></a>
                    </dd>
                    <dd><span class="icon-phone1"></span>159-158-26911</dd>
                    <dd>
                        <a href="/"><span class="icon-email"></span>alexhong2009@126.com</a>
                    </dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd><span class="icon-code"></span></dd>
                </dl>
                <dl class="last">
                    <dt>维夕教育</dt>
                    <dd>专注出国留学&考试：GRE、GMAT、托福、SAT、雅思、申请留学</dd>
                </dl>
            </div>
        </div>
        <div class="page-footer__bottom">
            <div class="page-footer__inner">
                <span>友情链接：</span>
                <a href="http://www.ets.org/gre/" target="_blank">GRE官网</a>
                <a href="https://gre.etest.net.cn/login.do" target="_blank">GRE报名考试网站</a>
                <a href="https://toefl.etest.edu.cn/cn" target="_blank">报名托福考试网站</a>
                <a href="https://mp.weixin.qq.com/s/mJ4jKJKcRFWmr5LnqRVlfA" target="_blank">申请经验</a>
                <a href="https://mp.weixin.qq.com/s/cu8o87nhZ1UIbiVYQmPt2Q" target="_blank">模考软件</a>
                <span class="copy">
                &nbsp;©&nbsp;2013~2018&nbsp;维夕教育&nbsp;版权所有<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15101646号</a>
            </span>
            </div>
        </div>
    </div>
{{/if}}