<div class="plan-column">
    <div class="column-hd">
        <input type="checkbox" name="" id="title">
        <label for="title">词汇</label>
    </div>

    <div class="column-title">
        <div class="title">GRE必读词汇练习</div>
        <div class="done-progress">
            <span class="txt">完成</span>
            <span class="done-range">
                <span class="cur" style="width: 35%;"></span>
            </span>
            <span class="num">35%</span>
        </div>
    </div>

    <div class="column-bd">
        <ul class="list">
            <li class="item">
                <div class="situation">
                    <span class="row row-1">Exercise 01</span>
                    <span class="row row-2">已做题 5/20</span>
                    <span class="row row-3">总耗时 13min15s</span>
                    <span class="row row-4">正确率 90%</span>
                </div>
                <div class="btns">
                    <a href="#" class="btn-go do">做题</a>
                    <a href="#" class="btn-cancle see">查看</a>
                    <a href="#" class="btn-cancle video">视频</a>
                    <a href="#" class="btn-cancle download">下载</a>
                </div>
            </li>
            <li class="item">
                <div class="situation">
                    <span class="row row-1">Exercise 01</span>
                    <span class="row row-2">已做题 5/20</span>
                    <span class="row row-3">总耗时 13min15s</span>
                    <span class="row row-4">正确率 90%</span>
                </div>
                <div class="btns">
                    <a href="#" class="btn-go do">做题</a>
                    <a href="#" class="btn-cancle see">查看</a>
                    <a href="#" class="btn-cancle video">视频</a>
                    <a href="#" class="btn-cancle download">下载</a>
                </div>
            </li>
            <li class="item">
                <div class="situation">
                    <span class="row row-1">Exercise 01</span>
                    <span class="row row-2">已做题 5/20</span>
                    <span class="row row-3">总耗时 13min15s</span>
                    <span class="row row-4">正确率 90%</span>
                </div>
                <div class="btns">
                    <a href="#" class="btn-go do">做题</a>
                    <a href="#" class="btn-cancle see">查看</a>
                    <a href="#" class="btn-cancle video">视频</a>
                    <a href="#" class="btn-cancle download">下载</a>
                </div>
            </li>
        </ul>
    </div>
</div>