<ul class="select-types">
  <li class="title-bg"></li>
  <li class="col clearfix">
    <span class="title">选择科目</span>
    <div class="list clearfix">
      <a href="JavaScript:;" class="active">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
    </div>
  </li>
  <li class="col clearfix">
    <span class="title">选择题型</span>
    <div class="list clearfix">
      <a href="JavaScript:;" class="active">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
      <a href="JavaScript:;">词汇</a>
    </div>
  </li>
</ul>