<ul class="side-nav">
    <li class="side-main-nav">
        <div class="title"><i class="icon-study"></i>学习课堂</div>
        <ul class="subnav">
            <li class="side-sub-nav">
                <a href="javascript:;" class="active">我的课程</a>
            </li>
            <li class="side-sub-nav">
                <a href="javascript:;">题库练习</a>
            </li>
            <li class="side-sub-nav">
                <a href="javascript:;">我的收藏</a>
            </li>
            <li class="side-sub-nav">
                <a href="javascript:;">我的笔记</a>
            </li>
            <li class="side-sub-nav">
                <a href="javascript:;">我的生词</a>
            </li>
        </ul>
    </li>
    <li class="side-main-nav">
        <a href="javascript:;" class="title"><i class="icon-message"></i>我的消息</a>
    </li>
    <li class="side-main-nav">
        <div class="title"><i class="icon-set"></i>账号设置</div>
        <ul class="subnav">
            <li class="side-sub-nav">
                <a href="javascript:;">个人信息</a>
            </li>
            <li class="side-sub-nav">
                <a href="javascript:;">头像设置</a>
            </li>
            <li class="side-sub-nav">
                <a href="javascript:;">报名资料</a>
            </li>
        </ul>
    </li>
    <li class="side-main-nav">
        <div class="title"><i class="icon-safe"></i>账号安全</div>
        <ul class="subnav">
            <li class="side-sub-nav">
                <a href="javascript:;">修改密码</a>
            </li>
        </ul>
    </li>
    <li class="side-main-nav">
        <a href="javascript:;" class="title"><i class="icon-bind"></i>关联账号</a>
    </li>
</ul>