<div class="page-slide">
    <!--<a href="javascript:;">-->
    <!--<span class="icon-slide-man"></span>-->
    <!--<span class="txt">报名</span>-->
    <!--</a>-->
    <a href="javascript:;" class="advisory">
        <span class="icon-slide-say"></span>
        <span class="txt">咨询</span>
        <img src="/static/imgs/advisory.png" alt="">
    </a>
    <a href="javascript:;" class="last" id="js-to-top">
        <span class="icon-slide-top"></span>
        <span class="txt">顶部</span>
    </a>
</div>