<div class="page-banner">
    <ul class="bxslider">
        <li>
            <a href="javascript:;">
                <img src="./imgs/1.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="http://placeimg.com/1600/590" alt="">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="http://placeimg.com/1600/590" alt="">
            </a>
        </li>
    </ul>
</div>