<ul class="test-card clearfix">
    <li class="card-item">
        <div class="box">
            <a href="#" class="img">
                <img src="http://placehold.it/350x220" alt="">
            </a>
        </div>
        <div class="info">
            <div class="col">
                <a href="#" class="name">GRE必考词汇</a>
                <span class="txt">包含四册试题集</span>
            </div>
            <div class="col">
                <span class="txt">当前进度：16%</span>
                <span class="tag">难易度：中</span>
            </div>
        </div>
    </li>
    <li class="card-item">
        <div class="box">
            <a href="#" class="img">
                <img src="http://placehold.it/350x220" alt="">
            </a>
        </div>
        <div class="info">
            <div class="col">
                <a href="#" class="name">GRE必考词汇</a>
                <span class="txt">包含四册试题集</span>
            </div>
            <div class="col">
                <span class="txt">当前进度：16%</span>
                <span class="tag">难易度：中</span>
            </div>
        </div>
    </li>
    <li class="card-item">
        <div class="box">
            <a href="#" class="img">
                <img src="http://placehold.it/350x220" alt="">
            </a>
        </div>
        <div class="info">
            <div class="col">
                <a href="#" class="name">GRE必考词汇</a>
                <span class="txt">包含四册试题集</span>
            </div>
            <div class="col">
                <span class="txt">当前进度：16%</span>
                <span class="tag">难易度：中</span>
            </div>
        </div>
    </li>
    <li class="card-item">
        <div class="box">
            <a href="#" class="img">
                <img src="http://placehold.it/350x220" alt="">
            </a>
        </div>
        <div class="info">
            <div class="col">
                <a href="#" class="name">GRE必考词汇</a>
                <span class="txt">包含四册试题集</span>
            </div>
            <div class="col">
                <span class="txt">当前进度：16%</span>
                <span class="tag">难易度：中</span>
            </div>
        </div>
    </li>
    <li class="card-item">
        <div class="box">
            <a href="#" class="img">
                <img src="http://placehold.it/350x220" alt="">
            </a>
        </div>
        <div class="info">
            <div class="col">
                <a href="#" class="name">GRE必考词汇</a>
                <span class="txt">包含四册试题集</span>
            </div>
            <div class="col">
                <span class="txt">当前进度：16%</span>
                <span class="tag">难易度：中</span>
            </div>
        </div>
    </li>
    <li class="card-item">
        <div class="box">
            <a href="#" class="img">
                <img src="http://placehold.it/350x220" alt="">
            </a>
        </div>
        <div class="info">
            <div class="col">
                <a href="#" class="name">GRE必考词汇</a>
                <span class="txt">包含四册试题集</span>
            </div>
            <div class="col">
                <span class="txt">当前进度：16%</span>
                <span class="tag">难易度：中</span>
            </div>
        </div>
    </li>
</ul>