@import './lib/mix';
@import './lib/base';
@import './lib/normalize';
@import './module/header';
@import './module/footer';
@import './module/sprite-common';
@import './common/user';
@import './module/side-nav';
@import './module/sprite-user';
@import './module/course-item';


.my-course-block {
  padding: 46px 40px;
  .item {
    border-bottom: 1px solid #f0f0f0;
    &:last-child {
      border-bottom: 0;
    }
    .course-item {
      margin: 23px 0;
    }
  }
}
