@import './lib/mix';
@import './lib/base';
@import './lib/normalize';
@import './module/header';
@import './module/footer';
@import './module/sprite-common';
@import './common/user';
@import './module/side-nav';
@import './module/sprite-user';
@import './module/course-item';
@import "./module/sprite-fav";
@import "./module/page-navgator";

.my-words-block {
  position: relative;
  padding: 20px 0;
  
  >.title {
    padding-left: 40px;
  }
  .right-tools {
    position: absolute;
    top: 10px;
    right: 38px;
    @extend %clearfix;
    .btn {
      float: left;
      border-radius: 3px;
      display: block;
      margin-left: 10px;
      box-sizing: border-box;
      height: 32px;
      line-height: 32px;
      border: 1px solid $themeColor;
      padding: 0 15px;
      text-align: center;
      color: $themeColor;
      font-size: 14px;
      &.active {
        background: $themeColor;
        color: #fff;
      }
    }
    .btn-select {
      position: relative;
      padding: 0 10px;
      border-color: #c2c2c2;
      color: #333;
      cursor: pointer;
      &:hover {
        .select-cont {
          display: block;
        }
      }
    }
    .select-cont {
      display: none;
      position: absolute;
      top: 30px;
      left: -1px;
      box-sizing: content-box;
      width: 100%;
      border: 1px solid #c2c2c2;
      .select-item {
        a {
          display: block;
          padding: 0 10px;
          line-height: 32px;
          color: #333;
          &:hover {
            background: $themeColor;
            color: #fff;
          }
        }
      }
    }
  }

  .table-words {
    margin-top: 15px;
    color: #666;
    .table-hd {
      height: 48px;
      line-height: 48px;
      background: #f6f6f6;
      font-size: 16px;
      .icon-nav-bottom {
        margin-left: 10px;
      }
    }
    .table-bd {
      font-size: 14px;
      height: 442px;
    }
    .row {
      float: left;
      margin-left: 20px;
      &.row-1 {
        width: 120px;
        input {
          margin-right: 6px;
          width: 16px;
          height: 16px;
        }
      }
      &.row-2 {
        width: 180px;
      }
      &.row-3 {
        width: 340px;
      }
    }

    .words-item {
      border-bottom: 1px solid #f0f0f0;
      input {
        width: 16px;
        height: 16px;
      }
      .row {
        box-sizing: border-box;
        min-height: 76px;
      }
      .row-1 {
        line-height: 76px;
      }
      .row-2 {
        padding: 10px 0 0;
        line-height: 28px;
        .title {
          font-weight: 700;
          font-size: 16px;
        }
        .icon-user-laba {
          margin-left: 5px;
          vertical-align: middle; 
        }
      }
      .row-3 {
        padding: 12px 0 0;
        line-height: 24px;
        .txt {
          @extend %ellipsis;
        }
      }
      .row-4 {
        display: none;
        float: left;
        padding-top: 12px;
        width: 140px;
        text-align: right;
      }

      &.hidden-info {
        .row-3 {
          width: 180px;
        }
      }
      &.checked {
        background: #f6f6f6;
        .row-4 {
          display: block;
        }
      }
    }

    .my-notes {
      margin: 25px 0 20px;
      color: #666;
      .icon-edit {
        float: left;
        display: block;
        margin-right: 5px;
        width: 25px;
        height: 16px;
      }
      .title {
        margin-left: -30px;
        font-size: 14px;
      }
    }

  }
}